@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    color: rgb(var(--foreground-rgb));
    background: #1d232a;
}

@layer base {
    .container {
        @apply mx-auto;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}